body {
  p {
    font-size: 14px;
  }
}

.row {
  max-width: 750px;
}

.chart {
  margin: 10px auto;
}

.axis {
  path, line {
    fill: none;
    stroke: #444;
    shape-rendering: crispEdges;
  }
  
  text {
    font-size: 12px;
    color: #444;
  }
}

.label {
  font-weight: bold;
  color: #444;
  font-size: 12px;
  text-align: left;
  width: 160px;
  fill: #444;
}

.dot {
  fill: #6992B4;
  stroke: #444;
  stroke-width: 1px;
  
  &.selected {
    fill: #FFD658;
    opacity: 1.0;
    stroke: #000;
    stroke-width: 2px;
    cursor: pointer;
  }
}

.tract {
  fill: #FFF5D5;
  stroke: #444;
  stroke-width: 1px;
  cursor: pointer;

  &.inactive {
    fill: #EAEAEA;
    cursor: default;
  }

  &.selected {
    opacity: 1.0;
    color: #111;
    stroke: #000;
    stroke-width: 2px;
    fill: #FFD658;
  }
}

.violations-container{
  font-size: 12px;
  margin-bottom: 30px;
}

.step-zero {
  fill: #ccc;
}

.step-one {
  fill: #BDD7E7;
}

.step-two {
  fill: #6BAED6;
}

.step-three {
  fill: #3182BD;
}

.step-four {
  fill: #08519C;
}

.arrow_box {
  position: absolute;
  background: #ffffff;
  border: 2px solid #343d42;
  display: none;
  padding: 3px;
  width: 250px;
  z-index: 999;

  p {
    margin: 0;
    font-size: 11px;
  }
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 30px;
  left: 50%;
  margin-left: -30px;
}

.arrow_box:before {
  border-color: rgba(32, 37, 41, 0);
  border-bottom-color: #202529;
  border-width: 33px;
  left: 50%;
  margin-left: -33px;
}