body p {
  font-size: 14px; }

.row {
  max-width: 750px; }

.chart {
  margin: 10px auto; }

.axis path, .axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges; }
.axis text {
  font-size: 12px;
  color: #444; }

.label {
  font-weight: bold;
  color: #444;
  font-size: 12px;
  text-align: left;
  width: 160px;
  fill: #444; }

.dot {
  fill: #6992B4;
  stroke: #fff;
  stroke-width: 1px; }
  .dot.selected {
    fill: #FFD658;
    opacity: 1.0;
    stroke: #000;
    stroke-width: 2px;
    cursor: pointer; }

.tract {
  fill: #FFF5D5;
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer; }
  .tract.inactive {
    fill: #EAEAEA;
    cursor: default; }
  .tract.selected {
    opacity: 1.0;
    color: #111;
    stroke: #000;
    stroke-width: 1px;
    fill: #FFD658; }

.step-zero {
  fill: #ccc; }

.step-one {
  fill: #C6DBEF; }

.step-two {
  fill: #6BAED6; }

.step-three {
  fill: #3182BD; }

.step-four {
  fill: #08306B; }

.note {
  fill: #666;
  font-size: 12px; }

.arrow_box {
  position: absolute;
  background: #ffffff;
  border: 2px solid #343d42;
  display: none;
  padding: 3px;
  width: 250px;
  z-index: 999; }
  .arrow_box p {
    margin: 4px 0;
    font-size: 11px; }

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 30px;
  left: 50%;
  margin-left: -30px; }

.arrow_box:before {
  border-color: rgba(32, 37, 41, 0);
  border-bottom-color: #202529;
  border-width: 33px;
  left: 50%;
  margin-left: -33px; }
